<div id="<%= dom_id tweet %>">
<h1 class="titulo_tweets"> TWEETS</h1>

  <p class="recuadros">
    <strong>Description:</strong>
    <%= tweet.description %>
  </p>

  <p class="recuadros">
    <strong>User name:</strong>
    <%= tweet.user_name %>
  </p>

</div>
