<p style="color: green"><%= notice %></p>

<h1 class="titulo">Tweets</h1>

<%= link_to "Nuevo tweet", new_tweet_path, class:"btn btn-dark" %>

<div class="twit">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p class="twit2">
      <%= link_to "Mostrar este tweet", tweet, class:"btn btn-secondary" %>
    </p>
  <% end %>
</div>


